/* General */
body {
    font-family: 'Poppins';
    font-weight: 400;
}

h1 {
    font-size: 88px;
    font-weight: 600;
    color: #1D8B8F;
}

h2 {
    font-size: 43px;
    font-weight: 700;
    color: #1D8B8F;
}

/* Header */
header {
    background-color: #1D8B8F;
    height: 100px;
}

#logo {
    margin: 10px;
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: #F8F8F8;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

/* Footer */
footer {
    background-color: #1D8B8F;
    color:#F8F8F8;
    font-size: 24px;
    font-weight: 800;
    height: 100px;
}

/* Dark background */
.dark_background {
    background-color: #003947;
}

.dark_background p, .dark_background h2 {
    color: #F8F8F8;
}

/* Flex */
.flex-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 30px;
}

.flex-item {
    padding: 10px;
    margin: 10px;
}

/* Overlay */
.container {
    position: relative;
}

.overlay {
    position: absolute;
}

.container h2 {
    color:#F8F8F8;
}

/* Circles */
.circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 20px solid #1D8B8F;
    display: inline-block;
}

.circle_full {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #DB9616;
    display: inline-block;
}

/* Buttons */
.orange_button {
    background-color: #DB9616;
    color:#003947;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    border: 0px;
    border-radius: 40px;
    padding: 8px 16px;
}

.orange_button:hover {
    background-color: #003947;
    color: #DB9616;
}

.white_button {
    background-color: #F8F8F8;
    color:#003947;
    border-radius: 40px;
    border: 1px solid #003947;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px;
}

.white_button:hover {
    background-color: #003947;
    color: #F8F8F8;
}

.dark_button {
    background-color: #003947;
    color: #F8F8F8;
    border-radius: 40px;
    border: 1px solid #003947;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px;
}

.dark_button:hover {
    background-color: #F8F8F8;
    color:#003947;
}

#donate_button {
    color:#F8F8F8;
    float: right;
    margin: 10px;
}

#donate_button:hover {
    color:#DB9616;
    background-color: #F8F8F8;
    border: 3px solid #DB9616;
}

.article_button {
    font-size: 16px;
}

/* Blog */
#accueil_blog h2 {
    background-color: #1D8B8F;
    padding: 10px;
    border-radius: 8px;
}

.blog_tag {
    color: #F8F8F8;
    background-color: rgba(0, 57, 71, 0.7);
    padding: 5px;
    font-weight: 700;
    border-radius: 0px 8px 8px 8px;
}

/* Form */
#contact_form {
    border: 1px solid #1D8B8F;
    border-radius: 8px;
    padding: 10px;
    background-color: #F8F8F8;
}

input[type=text], #contact_form label, textarea {
    width: 500px;
    margin: 10px;
    padding: 10px;
    font-family: 'Poppins';
    color: #1D8B8F;
}

input[type=text], textarea {
    border: none;
    border-bottom: 1px solid #1D8B8F;
}

/* Slides */
#diaporama {
    position: relative;
    margin: auto;
    max-width: 1000px;
}

.slides {
    display: None;
}

.dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #DB9616;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #1D8B8F;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
